### 학습 내용 및 목표
 * print(), input() 함수에 대해 알아본다.
 * 연산자에 대해 알아본다.

### 1-1 Python 시작하기

In [ ]:
### Hello 문자열 출력
print("Hello")

Hello

In [ ]:
### 'end' 매개변수의 역할
print("Hello", end='\n')
print("Hello", end='')
print("Hello")

Hello
HelloHello

### 1-2 변수 사용하기

In [ ]:
### 동물의 다리의 개수는?
animal_leg = 4

In [ ]:
print(animal_leg)

4

* 변수에 문자열을 넣기

In [ ]:
str1 = 'my'
str2 = 'name'
print(str1, str2)

my name

* 여러줄의 문자열을 저장 및 출력
 * ''' 내용 '''
 * """ 내용 """

In [ ]:
str1 = '''
line1
line2
line3
'''

print(str1)

line1
line2
line3

* print 명령을 이용해서 줄 바꿔보기

In [ ]:
# '\n'은 줄을 바꿈의 명령의 내용을 전달한다.
print("Line1 \nLine2 \nLine3 \n")

Line1
Line2
Line3

* 문자열과 문자열을 어떻게 연결시킬까?

In [ ]:
str12 = "my" + "name"
print(str12)

myname

### 1-3 문자열을 입력받고, 내용을 출력시키기

In [ ]:
name = input("당신의 이름은 ?")
print(name)

당신의 이름은 ?toto
toto

In [ ]:
str1 = "my" + " name is"
name = input("당신의 이름은 ?")
print(str1, name)

당신의 이름은 ?toto
my name is toto

* 다른 형태 출력

In [ ]:
name = input("당신의 이름은 ?")
print("당신의 이름은" + name + "입니다.")

당신의 이름은 ?superman
당신의 이름은superman입니다.

* 나이도 입력받아, 출력시켜보자.

In [ ]:
age = input("나이는 ?")
print("당신의 나이는 " + age + "입니다.")

나이는 ?30
당신의 나이는 30입니다.

* age의 자료형은 무엇일까

In [ ]:
print(type(age))

<class 'str'>

### (생각해보기) 그렇다면 나이에 10을 더해서 출력해 보기

In [ ]:
age = int( input("나이는 : ") ) # 입력 후, 정수형 변환

# sep는 ','가 갖는 한칸 공백을 없애준다.
print("당신의 10년 후의 나이는 " , age+10 ,"입니다.", sep="")

나이는 : 35
당신의 10년 후의 나이는 45입니다.

### 1-4 연산자
 * 사칙 연산자 : +, -, *, /
 * 기타 연산자 : **(제곱), %(나머지), //(몫)

In [1]:
print(9 + 10) # 더하기
print(9 - 10) # 빼기
print(30 / 5) # 나누기
print(5 * 3) # 곱하기
print(2**5) # 제곱 연산 2*2*2*2*2
print(17 % 4) # 나머지 1
print(17//4) # 몫 4

19
-1
6.0
15
32
1
4

* 비교 연산자
 * 같다 "=="
 * 다르다 "!="
 * 크거나 같다 ">="
 * 작거나 같다 "<="
 * 크다 ">"
 * 작다 "<"

In [ ]:
print( 3 == 3 )  # True (1이상)
print( 3 != 3 )   # False (0)
print( 3 >= 1 )
print( 3 <= 1 )
# 1 => 1 # 에러 => =이 먼저오면 에러 발생

True
False
True
False

In [ ]:
print(5 != 5) # False
age = 18
print(age >= 15) # True
age = 13
print(age >= 15) # False

False
True
False

### 연산자 and, or, not, in
 * True는 참을 의미, False는 거짓을 의미
 * A and B : A와 B가 참이면 True, 둘 중 하나라도 False이면 False
 * A or B  : A또는 B가 True이면 True, 둘 다 False일 경우 False
 * not A   : A가 True이면 False, A가 False이면 True
 * 임의의값 in [자료형] : 임의의 값이 해당 자료형에 있으면 True, 아니면 False

In [1]:
print(True and True)
print(1 and 3)
print(1 and 0)
print(True and False)
print(1 in [1,2,3,4])

True
3
0
False
True

In [ ]:
(1 == 1) and (1 > 0)

True

In [ ]:
print((1 == 1) or (1 > 0) )
print((1 == 1) | (1 > 0) )

True
True

In [ ]:
print( not 1 ) # False
print( not False) # True

False
True

In [ ]:
## A or B : A와 B중에 하나라도 True가 있으면 결론적으로 True가 된다.그 외에는 False
print(5!=5 or 5>=3) # False and True => True

True

* 19세이하 영화 입장 금지 프로그램

In [ ]:
## 19세 입장 금지 영화
## 출입조건 19세 이상이고, 남자 입장 가능
age = 17
sex = "M"
print(age >= 19 and sex=="M") # True : 입장 불가

False

* 예외조건 : 19세 이상 또는 아이가 부모와 함께 올 경우, 가능

In [ ]:
## 출입조건 19세 이상이거나(또는) 아이가 있는 친구는 가능한 영화
age = 17
gubun = "P" # 부모
print(age >= 19 or gubun=="P") # False or True => True : 입장

True

### 1-5 연산자를 이용한 계산

In [ ]:
a = 5
b = 2
plus = a + b
mul = a * b
div = a / b # 결과값 형변환 5/2 = 2.5
remainder = a % b
power = a ** b

print("합은 %d 입니다." % a)
print("%d 와 %d의 합은 %d 입니다." % (a, b, plus))
print("{} 와 {}의 합은 {}입니다.".format(a, b, plus))
print("{} 와 {}의 나눈 값은 {:.2f}입니다.".format(a, b, div))

합은 5 입니다.
5 와 2의 합은 7 입니다.
5 와 2의 합은 7입니다.
5 와 2의 나눈 값은 2.50입니다.

* print문의 여러가지 출력

In [ ]:
print("{2} 와 {1}의 합은 {0}입니다.".format(2, 5, 7))

7 와 5의 합은 2입니다.

In [ ]:
print("{0} 와 {1}의 나눈 값은 {2}입니다.".format(a, b, div))

5 와 2의 나눈 값은 2.5입니다.

### 1-6 if문 미리 실습해보기

### 숙박 인원이 10명 이상이면 
 * 두개의 방으로 나누어서 예약해야 합니다.
 * 10명 이하이면 하나의 방으로 숙박 가능합니다.

In [2]:
people = 10

if people >= 10:
  print("두개의 방을 예약해야 합니다.")
else:
  print("305호실 예약 가능합니다.")

두개의 방을 예약해야 합니다.

### 1-7 for문 미리 실습해 보기

In [4]:
for one in ['하나', '둘']:
  print(one)

하나
둘

### 생각해보기 & 실습 1
* '+'연산자와 아래 여러줄 입력과 출력을 이용하여 str1, str2로 line1~line6까지 출력해 보자.

```
str1 = '''
line1
line2
line3
'''

print(str1)

```

### 생각해보기 & 실습 2

* 나이를 입력받고, 8세 이상이면 학교에 입학이 가능합니다. 아니면 아직 입학이 힘듭니다. 출력해 보기