### Python과 DB 실습

### 학습 목표

* 데이터 베이스의 실습을 통해 기본을 익히는 것을 목표로 한다.
* 데이터 베이스에 테이블을 만들고, 삭제해 보는 것에 대해 알아본다.
* 데이터 베이스에 연결하고 데이터를 넣고, 조회해 본다.

### 01 데이터 베이스(DB)의 종류

데이터 베이스는 여러 종류가 있다. 자주 사용되는 데이터 베이스는 다음과 같습니다.

```
MySQL/MariaDB
MongoDB(NoSQL)
TinyDB(NoSQL)
Microsoft SQL Server(상용)
Oracle Database(상용)
SQLite
```

### 02 DB 실습

### DB 연결 및 생성

In [3]:
import sqlite3
conn = sqlite3.connect('webtoon.db')

### 테이블 생성

In [4]:
# SQL문 
# name(이름), no(번호), addr(주소), gender(성별)
sql = """
CREATE TABLE webtoon_list
  (  
    name text,
    no integer,
    subscriber integer,
    rank integer,
    genre text
  )
"""

In [5]:
# 테이블 생성하기
c = conn.cursor()              # Connetion 객체를 이용하여 cursor를 만든다.
c.execute("DROP TABLE IF EXISTS webtoon_list") # student가 있으면 삭제해라.
c.execute(sql)                            # 테이블 생성.
c.close()

### 데이터 넣기

In [6]:
sql = """
INSERT INTO webtoon_list VALUES
  ('전지적관점1', 1, 230011, 13, 'action')
"""
c = conn.cursor()  # 객체 생성
c.execute(sql)
c.close()
conn.commit()

### 데이터 조회

In [7]:
sql = 'select * from webtoon_list'
c = conn.cursor()
c.execute(sql)

# 하나의 데이터
print(c.fetchone())

('전지적관점1', 1, 230011, 13, 'action')

### 여러개의 데이터를 넣고 이를 조회하기

* SQL의 데이터가 들어갈 자리에 '?'을 넣고 나중에 실행할 때 데이터를 넣는 방식
* 데이터는 반드시 튜플 혹은 리스트 타입 형태의 데이터여야 한다.
* execute는 하나의 데이터, executemany를 이용하면 다수의 데이터를 입력할 수 있음.

In [8]:
sql = """
 INSERT INTO webtoon_list VALUES
   (?, ?, ?, ?, ?)
"""

c = conn.cursor()   # 객체 생성
c.execute(sql, ('피지컬농구', 2, 130011, 17, 'sport') )

data = [
    ('쇼미더머니짱', 3, 330011, 6, 'sport'),
    ('요리쉐프', 4, 352231, 5, 'drama'),
    ('황제와의데이트', 5, 70011, 19, 'love')
]

c.executemany(sql, data)
c.close()
conn.commit()

In [9]:
sql = 'select * from webtoon_list'
c = conn.cursor()
c.execute(sql)

# 하나의 데이터 확인
print( c.fetchone() )

('전지적관점1', 1, 230011, 13, 'action')

In [10]:
for s in c.fetchmany(10):
    print(s)

('피지컬농구', 2, 130011, 17, 'sport')
('쇼미더머니짱', 3, 330011, 6, 'sport')
('요리쉐프', 4, 352231, 5, 'drama')
('황제와의데이트', 5, 70011, 19, 'love')

In [11]:
sql = 'select * from webtoon_list'
c = conn.cursor()
c.execute(sql)

for s in c.fetchall():
    print(s)

('전지적관점1', 1, 230011, 13, 'action')
('피지컬농구', 2, 130011, 17, 'sport')
('쇼미더머니짱', 3, 330011, 6, 'sport')
('요리쉐프', 4, 352231, 5, 'drama')
('황제와의데이트', 5, 70011, 19, 'love')

### 정리

- sqlite3.connect('student.db') - DB연결
- 객체 생성 후, sql 실행
```
sql = """
INSERT INTO student VALUES
  ('학생1', 1, "서울 강남구 일원동", 'male')
"""
c = conn.cursor()  # 객체 생성
c.execute(sql)
c.close()
```